* {
    font-family: 'Open Sans', sans-serif;
}



.header-section {
    text-align: center;
    background-image: url(images/donation0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: white;

}

.overlay {
    background-image: linear-gradient(360deg, black, rgba(0, 0, 0, 0));
    opacity: 2.5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}


.primary-button {
    background-color: #F1585C;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.donate-today {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.donate-items {
    width: 600px;

}

.donation-tk-list {
    display: flex;
    justify-content: space-around;
}

.donation-tk-list li {
    list-style: none;
}

.donation-button {
    height: 100px;
    width: 100px;
    /* margin: 10px; */
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.active-db {
    border: 2px solid #F1585C;
    height: 100px;
    width: 100px;
    /* margin: 10px; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #f1585d23;
}

.custom-donation {
    border: none;
}

.donation-text {
    text-align: center;

}

.donation-plan-seciton {
    margin: 50px 0px;
}

.donation-plan {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dnb {
    border-radius: 5px;
    width: 300px;
    height: 250px;
    padding: 50px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.donation-plan-1 {
    background-color: #EBF2F3;
}

.donation-plan-2 {
    background-color: #FDECE8;
}

.donation-plan-3 {
    background-color: #FDF6D8;
}

.contribution-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    margin: 20px 0px;
}

.contribution-left-text {
    padding: 0px 100px;

}

.con-img {
    width: 50%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}

.align-img-1 {
    float: left;
}

.align-img-2 {
    float: right;
}

.update-seciton {
    text-align: center;
    padding: 0px 300px;
    margin: 50px 0px;
}

.email-box {
    background-color: #FDF6D8;
    padding: 30px 50px;
}

.email-input {
    border: none;
    background-color: lightgray;
    color: gray;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    left: 10px;
}

.email-box button {
    z-index: 1;
    position: absolute;
}