* {
    font-family: 'Open Sans', sans-serif;
}



.header-section {
    text-align: center;
    background-image: url(images/donation0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: white;

}

.overlay {
    background-image: linear-gradient(360deg, black, rgba(0, 0, 0, 0));
    opacity: 2.5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}


.primary-button {
    background-color: #F1585C;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.donate-today {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.donate-items {
    width: 600px;

}

.donation-tk-list {
    display: flex;
    justify-content: space-around;
}

.donation-tk-list li {
    list-style: none;
}

.donation-button {
    height: 100px;
    width: 100px;
    /* margin: 10px; */
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.active-db {
    border: 2px solid #F1585C;
    height: 100px;
    width: 100px;
    /* margin: 10px; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #f1585d23;
}

.custom-donation {
    border: none;
}